.page {
  display: flex;
}

/* SIDE BAR */

.side-bar {
  position: relative;
  width: 450px;
  height: 100vh;
}

.bg-image {
  height: 100vh;
}

.logo-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;

  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 100px;

  background-color: rgba(0, 0, 0, 0.448);
  padding: 12px 0 12px 0;
}

.logo-title {
  color: #fff;
  text-align: center;
  align-self: center;
  font-size: 3rem;
  font-family: "Norse";
  font-weight: bold;
  font-size: 64px;
}

.footer-content {
  position: absolute;
  bottom: 12px;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

/* MAIN SECTION */

.main-section {
  background-color: #e8e8e8;
}

.introduction {
  padding-left: 32px;
  padding-top: 120px;
  padding-bottom: 32px;
}

.introduction p {
  font-weight: 500;
  font-size: 20px;
}

.para {
  padding-bottom: 18px;
}

.tag:hover,
.tag:active {
  color: #596d48;
}

/* FORM SUB-SECTION */

.form-container {
  background-color: #fff;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-top: 16px;
  padding-right: 32px;
  box-shadow: 0 3px 3px 3px rgba(96, 92, 92, 0.315);
}

.form-caption {
  font-weight: 450;
  font-size: 1.4rem;
  padding-bottom: 16px;
}

.group-form {
  display: flex;
  justify-content: start;
  gap: 12rem;
  padding-bottom: 32px;
}

.sub-group-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sub-group-form label {
  letter-spacing: 1.5px;
  font-weight: 450;
}

.sub-group-form input {
  padding: 6px 0 6px 12px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;

  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
}

.sub-group-form input:focus {
  border: 4px solid rgb(0, 85, 255);
  border-radius: 8px;
  box-shadow: 0 2px 2px 2px rgba(84, 79, 79, 0.641);
}

.sub-group-form input:invalid {
  border: 4px solid rgb(238, 49, 49);
  border-radius: 8px;
}
